@model TravelExperience.MVC.ViewModels.SearchResultsFormViewModel

@{
    ViewBag.Title = "Accommodations";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Search", "Search")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.Accommodation.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Accommodation.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Accommodation.AccommodationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Accommodation.MaxCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Accommodation.Shared)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Accommodation.Floor)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Accommodation.Images)
        </th>
    </tr>
    @foreach (var item in Model.Accommodations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccommodationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shared)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @*<img src="@Url.Content(item.Thumbnail)" alt="Image" width="50" height="50" />*@
                @*<div class="col-md-7" style="height: 100px; width: 100px;  display: flex; ">
            <img src="@Url.Content(item.Thumbnail)" />
        </div>*@

                @*<div class="col-md-4" style="width: 175px; height: 175px; object-fit: cover; background-image: url(@item.Thumbnail)">
                </div>*@
                <img src="@AppDomain.CurrentDomain.GetData("DataDirectory").ToString()" class="music-thumb" />

                @*<div style="background-image: url('@item.Thumbnail'); background-repeat: no-repeat; height: 50px; width: 50px;">
        </div>*@
            </td>
        </tr>

    }

</table>

<style>
    .results {
        display: none;
    }
    .music-thumb{
        width: 75px;
        height: 75px;
        object-fit: cover;
    }
</style>
