@model TravelExperience.MVC.ViewModels.SearchResultsFormViewModel

@{
    ViewBag.Title = "Accommodations";
}

<h3>Search Results</h3>

<div class="container" style="display: flex; grid-template-columns: 1fr 1fr; grid-gap: 5px;">


    <div>
        @Html.Partial("_Map", new TravelExperience.MVC.ViewModels.MapViewModel() { ShowLocations = true });
    </div>


    <div style=" flex-grow:1; display: grid;">
        <hr />
        @foreach (var accom in Model.Accommodations)
        {
            <div style="display: flex;">
                @*Loads the given thumbnailAccommodation ImageInfo. Then it loads as a partial view the aquired image.*@
                @{ var firstThumb = @Model.ThumbnailOfAccommodations[accom].FirstOrDefault(); }
                @Html.Partial("_AccommodationThumbnail", @firstThumb)

                <div style="flex-grow: 1; margin: 15px 5px 0 5px; white-space: pre-line; float: right; max-width: 200px;">
                    <strong style=" font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                        @Html.DisplayFor(modelItem => accom.Title)
                    </strong>
                                     
                    @Html.DisplayFor(modelItem => accom.Description)
                    @Html.DisplayFor(modelItem => accom.MaxCapacity) Guests
                    @Html.DisplayFor(modelItem => accom.Location.City) , @Html.DisplayFor(modelItem => accom.Location.Country)
                    @Html.ActionLink("View", "Details", new { id = accom.AccommodationID })

                </div>
            </div>
            <hr />
        }
    </div>
</div>