@model TravelExperience.MVC.ViewModels.SearchResultsFormViewModel

@{
    ViewBag.Title = "Accommodations";
}

<h3>Search Results</h3>

<div class="container" style="display: flex; grid-template-columns: 1fr 1fr; grid-gap: 5px;">

    @*<div>
        @Html.Partial("_Map", Model)
    </div>*@

    <div style=" flex-grow:1; display: grid;">
        <hr />
        @foreach (var item in Model.Accommodations)
        {
            <div style="display: flex;">
                <img src="@Url.Content(item.Thumbnail)" style=" border-radius: 15px; width: 250px; height:160px; " />
                <div style="flex-grow: 1; margin: 15px 5px 0 5px; white-space: pre-line; float: right; max-width: 200px;">
                    <strong style=" font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                        @Html.DisplayFor(modelItem => item.Title)
                    </strong>
                    @Html.DisplayFor(modelItem => item.Description)
                    @Html.DisplayFor(modelItem => item.MaxCapacity) Guests
                    @Html.DisplayFor(modelItem => item.Location.City) , @Html.DisplayFor(modelItem => item.Location.Country)
                    @Html.ActionLink("View", "AccommodationView", new { id = item.AccommodationID })
                </div>

            </div>
            <hr />
        }
    </div>
</div>

<p>
    @Html.ActionLink("Search", "Search")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.Accommodation.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Accommodation.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Accommodation.AccommodationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Accommodation.MaxCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Accommodation.Shared)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Accommodation.Floor)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Accommodation.Images)
        </th>
    </tr>
    @foreach (var item in Model.Accommodations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccommodationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shared)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @*<img src="@Url.Content(item.Thumbnail)" alt="Image" width="50" height="50" />*@
                @*<div class="col-md-7" style="height: 100px; width: 100px;  display: flex; ">
                        <img src="@Url.Content(item.Thumbnail)" />
                    </div>*@

                @*<div class="col-md-4" style="width: 175px; height: 175px; object-fit: cover; background-image: url(@item.Thumbnail)">
                    </div>*@
                <img src="@AppDomain.CurrentDomain.GetData("DataDirectory").ToString()" class="music-thumb" />

                @*<div style="background-image: url('@item.Thumbnail'); background-repeat: no-repeat; height: 50px; width: 50px;">
                    </div>*@
            </td>
        </tr>

    }
</table>

<style>
    .results {
        display: none;
    }

  /*  .music-thumb {
        width: 75px;
        height: 75px;
        object-fit: cover;
    }*/
</style>
@*<style>
        .results {
            display: none;
        }
    </style>*@
