@model TravelExperience.MVC.ViewModels.AccommodationFormViewModel
@using Microsoft.AspNet.Identity
@using TravelExperience.DataAccess.Persistence
@using TravelExperience.DataAccess.Core
<div>
    <div class="container" >
        <h3><strong>@Html.DisplayFor(model => model.Accommodation.Title)</strong></h3>
        <hr />
        <div>
            <img src="@Html.DisplayFor(model => model.Accommodation.Thumbnail)" style=" border-radius: 15px; width: 500px; height:320px;" />
        </div>
        <hr />
        @{
            var context = new AppDBContext();
            var unitOfWork = new UnitOfWork(context);
            var userID = Model.Accommodation.HostID;
            var hostName = unitOfWork.Users.GetById(userID).FirstName;
            <h3>Rental unit hosted by @hostName </h3>
        }
        @Html.DisplayFor(model => model.Accommodation.MaxCapacity) Guests ·

        @if (Model.Accommodation.Shared.Equals(true))
        {
            <row>Shared</row> @Html.DisplayFor(model => model.Accommodation.AccommodationType);
        }
        else if (Model.Accommodation.Shared.Equals(false))
        {
            <row>Entire</row> @Html.DisplayFor(model => model.Accommodation.AccommodationType);
        }
        <hr />

        <div class="col-md-6">
            @Html.DisplayFor(model => model.Accommodation.Description)
            <hr />
            <h4 style="text-decoration:underline;">What this place offers</h4>
            <ul class="utilities" style="list-style:square;">
                @for (int i = 0; i < Model.Utilities.Count(); i++)
                {
                    <li> @Model.Utilities[i].UtilityEnum.ToString() </li>
                }
            </ul>
        </div>

        <div class="col-md-6">
            <div class="card" style="box-shadow: 10px 10px 10px grey; border: groove; border-radius:5px; padding:5px;"> 
                <h3 class="card-header" style="border-radius:10px; border:2px solid black;">€ @Html.DisplayFor(model => model.Accommodation.PricePerNight) / night</h3>
                <div class="card-body">
                    <h4 class="card-title">Booking for @Html.DisplayFor(model => model.Booking.BookingEndDate.Subtract(model.Booking.BookingStartDate).Ticks) nights</h4>

                    Total Cost: @Model.Accommodation.PricePerNight
                    <br />
                    Total Guests: @Model.Accommodation.MaxCapacity
                    <br />
                </div> 
                <br />
                <button type="submit" class="btn btn-primary btn-lg">Book Now</button>
            </div>
        </div>




    </div>








</div>

