@using Microsoft.AspNet.Identity
@model TravelExperience.MVC.ViewModels.MainPageViewModel

<h2 style="color:darkred;">Where you'll go</h2>

<div class="container" style="padding: 3px; overflow:hidden; ">
    @foreach (var item in Model.Bookings)
    {
        var userID = User.Identity.GetUserId();
        if (HttpContext.Current.User.Identity.IsAuthenticated && userID == item.UserId)
        {
            if (item.BookingStartDate > DateTime.Now)
            {
                var startDate = item.BookingStartDate.ToString("d MMM yyyy");
                var endDate = item.BookingEndDate.ToString("d MMM yyyy");
                <div class="col-md-6" style="display: flex; margin-bottom: 20px;">
                    <div style="float:left;">
                        @{ var firstThumb = @Model.ThumbnailOfAccommodations[item.Accommodation].FirstOrDefault(); }
                        @Html.Partial("_AccommodationThumbnail", @firstThumb)
                    </div>
                    <div style=" margin-left: 15px; display: inline-block; margin: 2px 20px 0 0; white-space:pre-line; flex-grow:1; text-align:center; ">
                        <strong>@Html.DisplayFor(modelItem => item.Accommodation.Title) - @Html.DisplayFor(modelItem => item.Accommodation.Location.City) </strong>
                        @Html.DisplayFor(modelItem => startDate) - @Html.DisplayFor(modelItem => endDate)
                        @Html.ActionLink("Edit", "Edit", new { id = item.BookingID }) |  @Html.ActionLink("Details", "Details", new { id = item.BookingID }) | @Html.ActionLink("Cancel", "Delete", new { id = item.BookingID })
                    </div>
                </div>
            }
        }
    }
</div>

