@model TravelExperience.MVC.ViewModels.AccommodatiosFormViewModel
@{
    ViewBag.Title = "New";
}

<h2>Add an accommodation</h2>

@using (Html.BeginForm("Save", "Songs"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Accommodation.Title)
        @Html.TextBoxFor(model => model.Accommodation.Title, new { @class = "form-control" })

        @Html.ValidationMessageFor(model => model.Accommodation.Title, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Accommodation.Description)
        @Html.TextBoxFor(model => model.Accommodation.Description, new { @class = "form-control" })

        @Html.ValidationMessageFor(model => model.Accommodation.Description, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">

        @{int utilitiesCounter = 0; }
        @foreach (var item in Model.Utilities)
        {
            //just for the commit
            @Html.CheckBoxFor(modelItem => Model.AccommodationUtilities.ToList()[utilitiesCounter].Exists, new { @class = "form-control" })
            <br />
        }

        @*@Html.ValidationMessageFor(model => model.Accommodation.Title, "", new { @class = "text-danger" })*@
    </div>
    @*<!--<div class="form-group">
                @Html.LabelFor(model => model.Accommodation.AccommodationUtilities)
                @Html.ListBoxFor(model => model.Utilities, new SelectList(Model.Utilities, "Name", "Name", Model.UtilitiesSelectList.SelectedValue), new { @Id = "UtilitiID", @style = "width:200px, height:60px"})-->
            @Html.ListBoxFor(model => model.Utilities, new { @class = "form-control" })

        <!--@Html.ValidationMessageFor(model => model.Accommodation.Title, "", new { @class = "text-danger" })
        </div>-->*@

    @*<div class="form-group">
            @Html.LabelFor(model => model.Accommodation.AccommodationUtilities)
            @Html.DropDownListFor(model => model.Utilities, new SelectList(Model.Utilities, "UtilitiesOfAccommodationID", "Name"), "", new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.Accommodation.Title, "", new { @class = "text-danger" })
        </div>*@
    @*<div class="form-group">
            @Html.LabelFor(model => model.Accommodation.AccommodationUtilities)
            @Html.ListBoxFor(model => model.UtilityId, Model.UtilityNames, new { size = 8 })

            @Html.ValidationMessageFor(model => model.Accommodation.Title, "", new { @class = "text-danger" })
        </div>*@
    <div class="form-group">
        @Html.LabelFor(model => model.Accommodation.AccommodationType)
        @Html.DropDownListFor(model => model.AccommodationTypes, new SelectList(Model.AccommodationTypes, "TypeId", "Name", new { @class = "form-control" }))

        @Html.ValidationMessageFor(model => model.Accommodation.AccommodationType, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Accommodation.Shared)
        @Html.CheckBoxFor(model => model.Accommodation.Shared, new { @class = "form-control" })

        @Html.ValidationMessageFor(model => model.Accommodation.Shared, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Accommodation.Floor)
        @Html.TextBoxFor(model => model.Accommodation.Floor, new { @class = "form-control" })

        @Html.ValidationMessageFor(model => model.Accommodation.Floor, "", new { @class = "text-danger" })
    </div>

    <h3>Location</h3>

    <div class="form-group">
      
        @Html.LabelFor(model => model.Accommodation.Location.Address)
        @Html.TextBoxFor(model => model.Accommodation.Location.Address, new { @class = "form-control" })

        @Html.ValidationMessageFor(model => model.Accommodation.Location.Address, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Accommodation.Location.AddressNo)
        @Html.TextBoxFor(model => model.Accommodation.Location.AddressNo, new { @class = "form-control" })

        @Html.ValidationMessageFor(model => model.Accommodation.Location.AddressNo, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Accommodation.Location.City)
        @Html.TextBoxFor(model => model.Accommodation.Location.City, new { @class = "form-control" })

        @Html.ValidationMessageFor(model => model.Accommodation.Location.City, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Accommodation.Location.Country)
        @Html.TextBoxFor(model => model.Accommodation.Location.Country, new { @class = "form-control" })

        @Html.ValidationMessageFor(model => model.Accommodation.Location.Country, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Accommodation.Location.Xcoord)
        @Html.TextBoxFor(model => model.Accommodation.Location.Xcoord, new { @class = "form-control" })

        @Html.ValidationMessageFor(model => model.Accommodation.Location.Xcoord, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Accommodation.Location.Ycoord)
        @Html.TextBoxFor(model => model.Accommodation.Location.Ycoord, new { @class = "form-control" })

        @Html.ValidationMessageFor(model => model.Accommodation.Location.Ycoord, "", new { @class = "text-danger" })
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Accommodation.Shared)
        @Html.CheckBoxFor(model => model.Accommodation.Shared, new { @class = "form-control" })

        @Html.ValidationMessageFor(model => model.Accommodation.Shared, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Accommodation.Floor)
        @Html.TextBoxFor(model => model.Accommodation.Floor, new { @class = "form-control" })

        @Html.ValidationMessageFor(model => model.Accommodation.Floor, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Accommodation.Thumbnail)
        @Html.TextBoxFor(model => model.Accommodation.Thumbnail, new { @class = "form-control" })

        @Html.ValidationMessageFor(model => model.Accommodation.Thumbnail, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Save</button>
}

