@model  TravelExperience.MVC.ViewModels.DashBoardFormViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bookings</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Accommodation.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.BookingStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.BookingEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.CreationDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Bookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Accommodation.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
            </tr>
        }

    </table>
</body>
</html>
