@using Microsoft.AspNet.Identity
@model TravelExperience.MVC.ViewModels.DashBoardFormViewModel
@{
    ViewBag.Title = "HostAccommodations";
}

<h2>Host's 'Accommodations</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Accommodation.AccommodationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accommodation.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accommodation.Description)
        </th>
        <th>
            @Html.LabelFor(m => m.Accommodation.Location)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Accommodations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccommodationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.FullAddress)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AccommodationID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AccommodationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AccommodationID })
            </td>
        </tr>
    }

</table>