@using TravelExperience.DataAccess.Persistence
@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navright">
            <li class="dropdown">
                <a> Hosting</a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Become A Host", "Index", "BecomeAHost")</li>

                    @if ((User.IsInRole("Host") && User.IsInRole("Traveler")) || User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Dashboard", "DashboardHost", "BecomeAHost", routeValues: null, htmlAttributes: new { title = "Dashboard" })</li>
                    }
                </ul>
            </li>
            <li>@Html.ActionLink("My Bookings", "Index", "Bookings")</li>
            @{
                var context = new AppDBContext();
                var unitOfWork = new UnitOfWork(context);
                var userID = User.Identity.GetUserId();
                var userName = unitOfWork.Users.GetById(userID).FirstName;
                <li> @Html.ActionLink("Hello " + userName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        </ul>
    }
}
else
{
    <ul class="navright">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}