@using TravelExperience.DataAccess.Persistence
@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="navright" id="navi-list">
            <li class="dropdown">
                <a> Hosting</a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Become A Host", "Index", "BecomeAHost")</li>

                    @if ((User.IsInRole("Host") && User.IsInRole("Traveler")) || User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Dashboard", "DashboardHost", "BecomeAHost", routeValues: null, htmlAttributes: new { title = "Dashboard" })</li>
                    }
                </ul>
            </li>
            <li>@Html.ActionLink("My Bookings", "Index", "Bookings")</li>
            @{
                var context = new AppDBContext();
                var unitOfWork = new UnitOfWork(context);
                var userID = User.Identity.GetUserId();
                var userName = unitOfWork.Users.GetById(userID).FirstName;
                <li> @Html.ActionLink("Hello " + userName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>

        </ul>
        <div class="menu" id="toggle-button">
            <div class="menu-line"></div>
            <div class="menu-line"></div>
            <div class="menu-line"></div>
        </div>
    }
}
else
{
    <ul class="navright">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

<style>
    .menu {
        display:none;

    }
    .menu-line {
        width: 20px;
        height: 4px;
        background-color: black;
        margin-bottom: 4px;
    }

     @@media only screen and (max-width:760px) {
        .navright {
            flex-direction: column;
            position: relative;
            display: none;
        }
        .menu {
                 display:block;
                 position:absolute;
                 right:15px;
                 top:15px;
        }

        .navright li {
            list-style-type: none;
            width: 100%;
            text-align: center;
            padding-top: 10px;
            display: block;
            padding: 20px 10px;
            border-top: 1px solid black;
            
        }
        .active {
            display: block;
        }
         }

</style>

<script>
    const toggleButton = document.getElementById('toggle-button')
    const naviList = document.getElementById('navi-list');

    toggleButton.addEventListener('click', () => {
        naviList.classList.toggle('active');
    })
</script>